.header {
	background: rgba(1, 1, 1, 0.5);
	padding: 15px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 3;

	.logo {
		.logo_image {
			width: 40px;
		}

		.title {
			font-size: 2rem;
		}
	}

	.links {
		display: flex;
		gap: 10px;
		height: 100%;
		align-items: center;

		a {
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 1.3rem;

			span {
				@include respond-down(md) {
					display: none;
				}
			}
		}

		.separator {
			height: 80%;
			width: 1px;
			background: $second_color;
		}

		.link_image {
			width: 35px;
		}
	}
}
