.modal {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(1, 1, 1, 0.5);
	z-index: 4;
	display: flex;
	justify-content: center;
	align-items: center;

	.modal_block {
		width: 400px;
		background: $main_color;
		border: 1px solid $second_color;
		padding: 24px;
		border-radius: 12px;
		position: relative;

		.loading_block {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 12;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			background-color: rgba(0, 0, 0, 0.4);
			border-radius: 12px;

			img {
				width: 50px;
				user-select: none;
			}
		}

		.header {
			display: flex;
			justify-content: space-between;

			.title {
			}

			.close_button {
				background: none;
				border: none;
				cursor: pointer;
				transition: 0.2s;
				border-radius: 6px;
				padding: 5px;
				height: 40px;

				&:hover {
					background: rgba(255, 255, 255, 0.1);
					opacity: 0.7;
				}

				.close_image {
					width: 30px;
					height: 30px;
				}
			}
		}

		.form {
			margin-top: 12px;

			.inputs {
				display: flex;
				flex-direction: column;
				gap: 5px;

				.choise {
					cursor: pointer;
					user-select: none;
					font-size: 1.2rem;
					font-family: Arial;
					color: $second_color;
				}
			}

			.send_button {
				margin-top: 24px;
				width: 100%;
				cursor: pointer;
				border-radius: 5px;
				padding: 4px;
				letter-spacing: 2px;
				transition: 0.3s;
				background: $third_color;
				border: none;
				color: $main_color;

				&:hover {
					scale: 0.99;
					opacity: 70%;
				}
			}
		}
	}
}
