.section {
	padding: 0 44px;
	padding-bottom: 190px;

	position: relative;
	left: 0;
	top: 0;
	z-index: 0;

	margin: 0 auto;
	width: 100%;

	@include respond-down(xl) {
		padding-bottom: 0px;
		padding: 0 24px;
	}

	@include respond-down(lg) {
		padding-top: 75px;
	}

	.banner {
		position: relative;

		.info_wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: absolute;
			z-index: 1;
			width: 100%;
			aspect-ratio: 16 / 9;
			gap: 30px;

			.title {
				font-size: 3rem;
				text-align: center;

				@include respond-down(xl) {
					width: 80vw;
				}

				@include respond-down(md) {
					font-size: 2rem;
				}

				@include respond-down(s) {
					font-size: 1.2rem;
				}
			}

			.logo {
				display: flex;
				justify-content: center;

				.logo_image {
					margin-top: 50px;
					width: 700px;

					@include respond-down(xxl) {
						width: 30%;
					}

					@include respond-down(xl) {
						display: none;
					}

					// @include respond-down(md) {
					// 	width: 70%;
					// }
				}
			}
		}

		.banner_wrapper {
			width: 100%;
			aspect-ratio: 16 / 9;
			z-index: 2;

			.banner_image {
				height: 100%;
				width: 100%;
				object-fit: cover;
				display: none;
				border-radius: 10px;
				filter: brightness(80%);
				user-select: none;

				&[data-enabled='true'] {
					display: block;
				}
			}
		}

		.arrows {
			position: absolute;
			top: 50%;
			left: 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding: 0 30px;
			z-index: 1;

			@include respond-down(xl) {
				display: none;
			}

			.arrow {
				background: rgba(1, 1, 1, 0.1);
				border-radius: 50%;
				width: 38px;
				height: 38px;
				display: flex;

				justify-content: center;
				align-items: center;
				cursor: pointer;
				transition: 0.2s;

				&:hover {
					scale: 110%;
				}

				.arrow_image {
				}
			}
		}

		.circles {
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translate(-50%);
			z-index: 1;
			display: flex;
			gap: 10px;

			.circle {
				background: $third_color;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				display: block;
				transition: 0.3s;
				cursor: pointer;

				&[data-current='true'] {
					background: $second_color;
				}
			}
		}
	}
}
