.section {
	padding-top: 70px;
	padding-bottom: 190px;

	@include respond-down(xl) {
		padding-bottom: 0px;
	}

	.section_wrapper {
		position: absolute;
		z-index: 1;
		width: 100%;
		pointer-events: none;

		.title {
			padding-top: 150px;
			text-align: center;
			font-size: 3rem;

			@include respond-down(xl) {
				width: 80vw;
				margin: 0 auto;
				padding-top: 250px;
			}
			@include respond-down(lg) {
				padding-top: 150px;
			}

			@include respond-down(md) {
				font-size: 2rem;
				padding-top: 70px;
			}

			@include respond-down(s) {
				font-size: 1.2rem;
			}
		}
	}

	.logo {
		display: flex;
		justify-content: center;
		margin-top: 50px;

		@include respond-down(xl) {
			display: none;
		}

		.logo_image {
			margin-top: 50px;
			width: 700px;

			@include respond-down(xxl) {
				width: 30%;
			}

			// @include respond-down(xl) {
			// 	width: 50%;
			// }

			// @include respond-down(md) {
			// 	width: 70%;
			// }
		}
	}

	.banner {
		position: relative;
		left: 0;
		top: 0;
		z-index: 0;

		margin: 0 auto;
		width: 100%;

		.arrows {
			position: absolute;
			top: 50%;
			left: 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding: 0 30px;
			z-index: 1;

			@include respond-down(xl) {
				display: none;
			}

			.arrow {
				background: rgba(1, 1, 1, 0.1);
				border-radius: 50%;
				width: 38px;
				height: 38px;
				display: flex;

				justify-content: center;
				align-items: center;
				cursor: pointer;
				transition: 0.2s;

				&:hover {
					scale: 110%;
				}

				.arrow_image {
				}
			}
		}

		.circles {
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translate(-50%);
			z-index: 1;
			display: flex;
			gap: 10px;

			.circle {
				background: $third_color;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				display: block;
				transition: 0.3s;
				cursor: pointer;

				&[data-current='true'] {
					background: $second_color;
				}
			}
		}

		.banner_wrapper {
			width: 100%;
			aspect-ratio: 16 / 9;

			.banner_image {
				height: 100%;
				width: 100%;
				object-fit: cover;
				display: none;
				border-radius: 10px;
				filter: brightness(80%);
				user-select: none;

				&[data-enabled='true'] {
					display: block;
				}
			}
		}
	}
}
