@font-face {
	font-family: 'AgencyFB';
	src: url('/fonts/agency-fb.woff2') format('woff2');
	font-weight: 400;
	font-size: normal;
	font-display: swap;
}

:root {
	background-color: $main_color;
	color: rgba(255, 255, 255, 0.87);

	font-family: 'AgencyFB', 'inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;

	&::-webkit-scrollbar {
		background: $main_color;
		width: 7px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $second_color;
		border-radius: 6px;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

a {
	font-weight: 500;
	color: $third_color;
	text-decoration: inherit;
}
a:hover {
	color: #fff;
}

button {
	font-family: 'AgencyFB', 'inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
	letter-spacing: 2.5px;
}
